@import "index.scss";

html {
  scroll-behavior: smooth;
}

header {
  height: 65px;
  width: 100%;
  background-color: $secondary;
  // background-image: url(assets/images/noise.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  box-shadow: 0 2px 5px black;

  .header-section {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: white;
    }

    nav {
      .menu-btn {
        color: $third;
        font-size: 2rem;
        position: relative;
        cursor: pointer;

        display: none;
      }
      .menu-btn:hover {
        color: white;
      }

      menu {
        ul {
          display: flex;
          gap: 20px;
          // background-color: lightblue;
          li {
            list-style: none;
            a {
              color: $third;
              font-weight: 700;
              font-size: 1.2rem;
              cursor: pointer;
            }
            a:hover {
              color: white;
            }
          }
        }
        .accounts {
          // display: none;
          position: fixed;
          left: 0.5%;
          top: 70px;
          border: none;
          a {
            font-size: 4rem;
            color: white;
          }
          :hover {
            color: $third;
          }
        }
      }
    }
  }
}

// mobile header
@media (max-width: 1000px) {
  header {
    .header-section {
      nav {
        .menu-btn {
          display: block;
        }
        .showmenu {
          left: 0;
          right: 0;
        }

        menu {
          background-color: $secondary;
          background-image: url(assets/images/noise.svg);
          position: fixed;
          top: 0;
          left: 110%;
          right: -110%;
          bottom: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: 0.5s;
          ul {
            // background-color: white;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin-top: 50px;

            li {
              list-style: none;
              a {
                color: $third;
                font-weight: 700;
                font-size: 1.2rem;
              }
            }
          }
          .accounts {
            width: 50%;
            // background-color: lightcoral;
            justify-content: center;
            display: flex;
            justify-content: center;
            margin-top: 30px;
            padding-top: 20px;
            border-top: 1px solid white;
            color: white;
            position: static;
          }
        }
      }
    }
  }
}
.nav-link.active {
  color: white;
}
